In [1]:
# 下載IMDB資料集
from keras.utils import get_file
dataset = get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)
print("下載位址:", dataset)

Using TensorFlow backend.

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 10s 0us/step
下載位址: /root/.keras/datasets/aclImdb.tar.gz

In [15]:
import glob
import textwrap
fn = glob.glob("/root/.keras/datasets/aclImdb/train/neg/*")[1]
with open(fn, "r", encoding="utf-8") as f:
    review = f.read()
print("\n".join(textwrap.wrap(review, width=70)))

This Santa movie starts off strange and I think Santa might be a pedo.
Instead of the usual elf toy makers, this Santa has apparently
kidnapped kids from all across the globe and makes them sing a bit
like characters from "It's a Small World"! I guess there are no child
labor laws on the weird astral plane on which he lives (it's
apparently NOT the North Pole and not on Earth)!! None of these kids
seem very happy and I kept wanting to see commandos break in and
rescue the tykes, though I guess for some of the third world kids,
these working conditions were perhaps an improvement over local
sweatshops. I sure hope that all they do is sing and make toys.<br
/><br />Then, the scene abruptly changes to Hell where lots and lots
of demons dance about like they are in a Busby Berkeley musical. This
fun in put to a stop by Satan who orders one of them, Pitch, to go to
Earth to ruin Christmas!! Personally, I thought this movie already did
that! The Devil and his imps are actually kind of cute--like Hot Stuff
from the Harvey Comics but with cool evil goatees! Or, if you are
Puerto Rican, like a vejigante mask with a goatee! <br /><br />Somehow
a poverty-stricken Mexican kid named Lupita, a group of jerky kids who
want to mug Santa and some rich kid are key battlegrounds for the
Devil and Santa!! So, if the Prince of Darkness (not Donald Trump,
it's the OTHER Prince of Darkness) can somehow make her steal and be
bad, he'll 'win'--what, we don't really know! In fact, as they root
her on, you get the impression that the film makers intend Santa to be
Jesus--as he has all these great powers AND fights the Devil over
kids' souls! Later, Santa meets with his friend, Merlin. He asks him
to make him a special powder that makes people dream nice dreams.
Considering how much Santa laughs in the film (like a demented
chipmunk), I assume he must use this drug A LOT! He immediately goes
to see a blacksmith who makes him a magic key that opens ALL doors.
Considering he keeps kids as his personal 'assistants', this magic key
thing worries me immensely! During Santa's Christmas Eve ride, you see
Lupita behave like a little angel--one problem down. Santa then takes
time out now to take care of the rich kid whose parents are selfish
jerks. He gives them some sort of crazy cocktail which magically
solves their problems--two problems solved. This is a rare case where
alcohol/drugs HELP kids and solves problems! And as for the little
muggers, he gives them coal! Frustrated with his losses to Santa,
Pitch then tries to steal the sleigh (which is pulled by creepy
animatronic deer). When this fails, he destroys Santa's stash of
'magic powder'! As a result, Santa can't become invisible to avoid
dogs and gets treed. Uh, oh...how can Santa take a detour to the Betty
Ford Clinic if he's stuck up a tree?! Will St. Nick get down from the
tree and get the monkey off his back or will the devils win? If you
care, tune in and see. However, be warned that the film is bat-crap
crazy! <br /><br />Technically speaking, the film is yecchy. While it
is in color, it's really gaudy. The music is mostly done on an organ--
which, along with bad singing from the kids, produces perhaps the
worst soundtrack I've heard in recent memory. And the story is just
incomprehensible and very, very, very creepy. Devils and a Santa that
kidnaps kids is just plain creep-tastic. It's a film you should NEVER
show to kids but makes a great film to watch with friends so you can
laugh at it from start to finish!

In [69]:
from keras.models import Sequential
from keras.layers import Embedding
from keras.layers import Flatten, Dense, Dropout
from keras.layers import SimpleRNN
model = Sequential()
# 1 padding + 2000個詞 = 2001
model.add(Embedding(2001, 64, input_length=200))
model.add(SimpleRNN(32))
model.add(Dense(256, activation="relu"))
model.add(Dropout(0.25))
model.add(Dense(1, activation="sigmoid"))
model.summary()

Model: "sequential_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_13 (Embedding)     (None, 200, 64)           128064
_________________________________________________________________
simple_rnn_4 (SimpleRNN)     (None, 32)                3104
_________________________________________________________________
dense_14 (Dense)             (None, 256)               8448
_________________________________________________________________
dropout_7 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 257
=================================================================
Total params: 139,873
Trainable params: 139,873
Non-trainable params: 0
_________________________________________________________________

In [28]:
import os
import pandas as pd
def get_content(dirname, target):
    fn = glob.glob("{}/*".format(dirname))
    content = []
    targets = [target] * len(fn)
    for fp in fn:
        with open(fp, "r", encoding="utf-8") as f:
            content.append(f.read())
    return (content, targets)

dirname = os.path.dirname(dataset)
neg_path = os.path.join(dirname, "aclImdb", "train", "neg")
pos_path = os.path.join(dirname, "aclImdb", "train", "pos")
neg_content, neg_target = get_content(neg_path, 0)
pos_content, pos_target = get_content(pos_path, 1)
train_df = pd.DataFrame({
    "content":neg_content + pos_content,
    "target":neg_target + pos_target
})
train_df

                                                 content  target
0      One of the previous reviewers wrote that there...       0
1      This Santa movie starts off strange and I thin...       0
2      I saw this last week after picking up the DVD ...       0
3      i completely agree with jamrom4.. this was the...       0
4      Imagine that you are asked by your date what m...       0
...                                                  ...     ...
24995  It was "The Night HE Came Home," warned the po...       1
24996  In War, Inc we find the logical extension of t...       1
24997  Forget the jaded comments that come before the...       1
24998  This film to me is a very good film!!<br /><br...       1
24999  I caught this movie on IFC and I enjoyed it, a...       1

[25000 rows x 2 columns]

In [29]:
neg_path = os.path.join(dirname, "aclImdb", "test", "neg")
pos_path = os.path.join(dirname, "aclImdb", "test", "pos")
neg_content, neg_target = get_content(neg_path, 0)
pos_content, pos_target = get_content(pos_path, 1)
test_df = pd.DataFrame({
    "content":neg_content + pos_content,
    "target":neg_target + pos_target
})
test_df

                                                 content  target
0      Worst Movie I Have Ever Seen! 90 Minutes of ex...       0
1      Help! Once again, Paul Schrader has sabotaged ...       0
2      Being stuck in bed with the flu and feeling to...       0
3      I recently watched this movie because I'm a bi...       0
4      Don't get me wrong, I love the TV series of Le...       0
...                                                  ...     ...
24995  I rarely even bother to watch comedic movies o...       1
24996  One of the most entertaining of all silent com...       1
24997  conventional and superficial ,Claude´s portray...       1
24998  This is one of L&H's shorts most frequently ci...       1
24999  I liked this quite a bit but I have friends th...       1

[25000 rows x 2 columns]

In [0]:
# 文字預處理1:把所有文字化成數字
from keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=2000)
# fit_on_texts只是幫你找出有多少種的字(fit-transform的fit)
tok.fit_on_texts(train_df["content"])
# key:詞 value:等一下要轉換成的數字
# 0這個數字保留, 0是拿來做padding
tok.word_index

In [36]:
# texts_to_sequences:真的依照剛才做出的表幫你轉換完成所有詞(transform)
x_train = tok.texts_to_sequences(train_df["content"])
x_test = tok.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train)

       0     1     2     3     4     5     ...  1705  1706  1707  1708  1709  1710
0        28     4     1   956  1983  1037  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        11    17   514   122   676     2  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        10   216    11   233  1264   100  ...   NaN   NaN   NaN   NaN   NaN   NaN
3        10   337  1038    16    11    13  ...   NaN   NaN   NaN   NaN   NaN   NaN
4       835    12    22    23  1800    31  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995     9    13     1   311    26   382  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996     8   322    72   166     1     4  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997   854     1   793    12   213   156  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    11    19     5    69     6     3  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    10  1056    11    17    20     2  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1711 columns]

In [38]:
# 文字預處理2. 截長補短
from keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train, maxlen=200)
x_test_pad = pad_sequences(x_test, maxlen=200)
pd.DataFrame(x_train_pad)

        0     1    2    3     4    5    ...   194  195   196  197  198   199
0         0     0    0    0     0    0  ...   608    9    13  844   83    17
1       114    28  436  177    92  301  ...    30    9    36  377    5  1360
2         0     0    0    0     0    0  ...     5    1  1127    1  169   248
3         0     0    0    0     0    0  ...   122    1   390    4    1  1220
4        23  1800   31  126  1302   48  ...    25    3  1525    1  989     4
...     ...   ...  ...  ...   ...  ...  ...   ...  ...   ...  ...  ...   ...
24995     0     0    0    0     0    0  ...  1490  509     4  394   31     3
24996  1207   253   31    2    31    1  ...   209    2    11    6   15    22
24997     0     0    0    0     0    0  ...     5  232   139    2  581   650
24998     0     0    0    0     0    0  ...   132  131   104  105   68   318
24999     0     0    0    0     0    0  ...    87   21     5    8    1    99

[25000 rows x 200 columns]

In [0]:
model.compile(loss="binary_crossentropy",
              optimizer="adam",
               metrics=["accuracy"])

In [71]:
from keras.callbacks import ModelCheckpoint
from keras.callbacks import EarlyStopping
import numpy as np
check_callback = ModelCheckpoint("model.h5", 
                                 save_best_only=True)
stop_callback = EarlyStopping(patience=3,
                              restore_best_weights=True)
model.fit(x_train_pad, 
          np.array(train_df["target"]),
          batch_size=200,
          epochs=100,
          validation_split=0.1,
          verbose=2,
          callbacks=[check_callback, stop_callback])

Train on 22500 samples, validate on 2500 samples
Epoch 1/100
 - 11s - loss: 0.5814 - acc: 0.6702 - val_loss: 0.5896 - val_acc: 0.7388
Epoch 2/100
 - 9s - loss: 0.3294 - acc: 0.8637 - val_loss: 0.3125 - val_acc: 0.8836
Epoch 3/100
 - 9s - loss: 0.2479 - acc: 0.9035 - val_loss: 0.2686 - val_acc: 0.9028
Epoch 4/100
 - 8s - loss: 0.1717 - acc: 0.9372 - val_loss: 0.4725 - val_acc: 0.8424
Epoch 5/100
 - 9s - loss: 0.0916 - acc: 0.9694 - val_loss: 0.6819 - val_acc: 0.7924
Epoch 6/100
 - 8s - loss: 0.0515 - acc: 0.9826 - val_loss: 0.7543 - val_acc: 0.8088

In [72]:
model.evaluate(x_test_pad, test_df["target"])

25000/25000 [==============================] - 11s 422us/step

[0.38409213020324706, 0.85332]